# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
htmlcov/

# Virtual env
.venv/
venv/
env/
.env

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Model checkpoints
checkpoints/
*.pth
*.pt
*.ckpt

# Outputs
outputs/
artifacts/

# Dataset
images_flat/
annotations_voc/

# Optional: large archives
*.zip
*.rar
*.7z
